body{
font-family:Verdana;
text-align:center;
background:#f4f4f4;
}

input{
padding:8px;
margin:5px;
width:80px;
}

button{
padding:10px;
background:#28a745;
color:white;
border:none;
cursor:pointer;
}

button:hover{
background:#1e7e34;
}
body{

font-family:Arial;
text-align:center;
background:#f4f6f9;

}

input{

padding:8px;
margin:6px;
width:150px;

}

button{

padding:10px 20px;
background:#28a745;
color:white;
border:none;
cursor:pointer;

}

button:hover{

background:#1e7e34;

}

table{

margin:auto;
border-collapse:collapse;

}

td,th{

padding:8px;
border:1px solid black;

}