<!DOCTYPE html>
<html>

<head>
<title>Gauss Jordan Calculator</title>
<link rel="stylesheet" href="/static/Gauss-Jordan.css">
</head>

<body>

<h1>Gauss Jordan Method Solver</h1>

Number of Equations :
<input type="number" id="n">
<button onclick="createMatrix()">Create Matrix</button>

<br><br>

<div id="matrixArea"></div>

<br>

<button onclick="solve()">Solve</button>

<h2>Result</h2>
<div id="result"></div>

<script>

function createMatrix(){

let n=document.getElementById("n").value

let table="<table border='1'>"

for(let i=0;i<n;i++){

table+="<tr>"

for(let j=0;j<=n;j++){

table+=`<td><input id="a${i}${j}" style="width:60px"></td>`

}

table+="</tr>"

}

table+="</table>"

document.getElementById("matrixArea").innerHTML=table

}

function solve(){

let n=document.getElementById("n").value

let a=[]

for(let i=0;i<n;i++){

a[i]=[]

for(let j=0;j<=n;j++){

a[i][j]=parseFloat(document.getElementById("a"+i+j).value)

}

}

for(let i=0;i<n;i++){

let pivot=a[i][i]

for(let j=0;j<=n;j++)
a[i][j]=a[i][j]/pivot

for(let k=0;k<n;k++){

if(k!=i){

let factor=a[k][i]

for(let j=0;j<=n;j++){

a[k][j]=a[k][j]-factor*a[i][j]

}

}

}

}

let output=""

for(let i=0;i<n;i++){

output+="x"+(i+1)+" = "+a[i][n]+"<br>"

}

document.getElementById("result").innerHTML=output

}

</script>

</body>

</html>