<!DOCTYPE html>
<html>
<head>
<title>Gauss Jordan Calculator</title>
<link rel="stylesheet" href="static/Gauss-Jordan.css">
</head>

<body>

<h1>Gauss Jordan Method Calculator</h1>

<p>Enter the augmented matrix:</p>

<table>
<tr>
<td><input id="a11"></td>
<td><input id="a12"></td>
<td><input id="a13"></td>
<td><input id="b1"></td>
</tr>

<tr>
<td><input id="a21"></td>
<td><input id="a22"></td>
<td><input id="a23"></td>
<td><input id="b2"></td>
</tr>

<tr>
<td><input id="a31"></td>
<td><input id="a32"></td>
<td><input id="a33"></td>
<td><input id="b3"></td>
</tr>
</table>

<button onclick="solve()">Solve</button>

<h3 id="result"></h3>

<script>

function solve(){

let a11=parseFloat(document.getElementById("a11").value);
let a12=parseFloat(document.getElementById("a12").value);
let a13=parseFloat(document.getElementById("a13").value);
let b1=parseFloat(document.getElementById("b1").value);

let a21=parseFloat(document.getElementById("a21").value);
let a22=parseFloat(document.getElementById("a22").value);
let a23=parseFloat(document.getElementById("a23").value);
let b2=parseFloat(document.getElementById("b2").value);

let a31=parseFloat(document.getElementById("a31").value);
let a32=parseFloat(document.getElementById("a32").value);
let a33=parseFloat(document.getElementById("a33").value);
let b3=parseFloat(document.getElementById("b3").value);

let D = a11*(a22*a33-a23*a32)
       -a12*(a21*a33-a23*a31)
       +a13*(a21*a32-a22*a31);

let Dx = b1*(a22*a33-a23*a32)
       -a12*(b2*a33-a23*b3)
       +a13*(b2*a32-a22*b3);

let Dy = a11*(b2*a33-a23*b3)
       -b1*(a21*a33-a23*a31)
       +a13*(a21*b3-b2*a31);

let Dz = a11*(a22*b3-b2*a32)
       -a12*(a21*b3-b2*a31)
       +b1*(a21*a32-a22*a31);

let x = Dx/D;
let y = Dy/D;
let z = Dz/D;

document.getElementById("result").innerHTML =
"x = "+x+"<br>y = "+y+"<br>z = "+z;

}

</script>

</body>
</html>