<!DOCTYPE html>
<html>

<head>
<title>Numerical Methods Calculator</title>
<link rel="stylesheet" href="/static/homepage.css">
</head>

<body>

<h1>Numerical Methods Calculator</h1>

<p>Select a Method</p>

<div class="menu">

<button onclick="location.href='/templates/Gauss-Jordan.html'">
Gauss Jordan Method
</button>

<button onclick="location.href='/templates/Newton Backward Interpolation.html'">
Newton Backward Interpolation
</button>

<button onclick="location.href='/templates/Range Kutta.html'">
Runge Kutta Method
</button>

</div>

</body>

</html>