<!DOCTYPE html>
<html>
<head>
<title>Runge Kutta 4th Order</title>
<link rel="stylesheet" href="/static/Range Kutta.css">
</head>

<body>

<h1>Runge Kutta 4th Order Method</h1>

f(x,y) =
<input id="func" placeholder="x+y"><br><br>

Initial x₀ :
<input id="x0"><br><br>

Initial y₀ :
<input id="y0"><br><br>

Step size (h) :
<input id="h"><br><br>

Iterations :
<input id="n"><br><br>

<button onclick="solve()">Solve</button>

<h2>Calculation Steps</h2>
<div id="output"></div>

<script>

function f(x,y){
let expr=document.getElementById("func").value
return eval(expr)
}

function solve(){

let x=parseFloat(document.getElementById("x0").value)
let y=parseFloat(document.getElementById("y0").value)
let h=parseFloat(document.getElementById("h").value)
let n=parseInt(document.getElementById("n").value)

let text=""

for(let i=0;i<n;i++){

let k1=h*f(x,y)
let k2=h*f(x+h/2,y+k1/2)
let k3=h*f(x+h/2,y+k2/2)
let k4=h*f(x+h,y+k3)

let dy=(k1+2*k2+2*k3+k4)/6

text+=`<b>Step ${i+1}</b><br>`
text+=`k1 = ${k1}<br>`
text+=`k2 = ${k2}<br>`
text+=`k3 = ${k3}<br>`
text+=`k4 = ${k4}<br>`
text+=`Δy = ${dy}<br>`

y=y+dy
x=x+h

text+=`y(${x}) = ${y}<br><br>`

}

document.getElementById("output").innerHTML=text

}

</script>

</body>
</html>