<!DOCTYPE html>
<html>
<head>
<title>Runge Kutta RK4</title>
<link rel="stylesheet" href="style.css">
</head>

<body>

<h1>Runge-Kutta Method (RK4)</h1>

dy/dx = <input id="func" placeholder="x+y"><br><br>

x0 <input id="x0"><br><br>
y0 <input id="y0"><br><br>
h <input id="h"><br><br>

<button onclick="calculate()">Solve</button>

<h2 id="result"></h2>

<script>

function f(x,y){

let expr=document.getElementById("func").value;

return eval(expr);

}

function calculate(){

let x=parseFloat(document.getElementById("x0").value);
let y=parseFloat(document.getElementById("y0").value);
let h=parseFloat(document.getElementById("h").value);

let k1=h*f(x,y);
let k2=h*f(x+h/2,y+k1/2);
let k3=h*f(x+h/2,y+k2/2);
let k4=h*f(x+h,y+k3);

let ynext=y+(k1+2*k2+2*k3+k4)/6;

document.getElementById("result").innerHTML=
"Next y value = "+ynext;

}

</script>

</body>
</html>